<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>ATM</title>
</head>
<body>

     <form action="{{url_for('aatm')}}" method ="POST" id="atm" >
          <h1> {{msg}} </h1>
          <h2> balance: {{balance}} </h2>

          amount:
          <input type="number" name="amount" required min='0'>
          <br>
          <input type="submit" name="action" value="Withdraw" >
          <input type="submit" name="action" value="Deposit">

     </form>

     
</body>
</html>